body 
{
background-color:#f4f6ff;
color: #797a7e;
font-family:'lora', serif;
font-size:17px; 
font-weight:500;
}


h1 {
font-family:'lora', serif;
font-size:40px;
font-weight:bold;
}

h2
{
font-family:'Roboto', serif;
font-size:25px;
font-weight:600; 
color:#7579e7;
}

a {text-decoration:none;}

a:hover  {
	color: black;
}


#photo {width: 200px;}

.img-circle { border-radius: 50% }


.container {
	width:700px;
	margin: 40px auto; 
}

@media (max-width: 960px) {
	.container{width: 700px;}
}

@media (max-width: 720px) {
	.container{width: 500px;}
}

@media (max-width: 540px) {
	.container{width: 300px;}
}

	
.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,1)
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.btn-blue {
	background-color:#7579e7 ;
	color:white;
	padding:10px 15px;
	border-radius: 4px;
	font-weight:600;
	font-family:'Roboto', serif;
}

.list-inline {
	list-style:none;
	padding-left:0px;

}

.list-inline li {
	display: inline;
	padding: 10px;

}

#introduction p {
	margin-bottom: 40px;

}








